@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gred: 182 22 4;
    --color-ggray: 39 39 39;
  }
}

:root {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 2;
  font-size: x-large;

  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
